nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  color: #FFFFFF;
  background-color: #006666;
  font-size: 24px;
  justify-content: space-between;
}


span {
  font-family: Bungee, sans-serif;
  font-size: 36px;
}


nav i {
  color: #66CDAA
}

.right-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 0%;
}