nav {
  display: flex;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
  justify-content: space-between;
  z-index: 0;
}


span {
  font-family: Bungee;
}


i {
  display: block;
  color: crimson;
  justify-content: end;
  align-items: baseline;
}

.right-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}