 /* <main class="container">
 <section class="new-tweet">
   <h2>Compose Tweet</h2>
   <form class="form-inline" action="/tweets/" method="POST">
     <label for="tweet-text">What are you humming about?</label>
     <textarea name="text" id="tweet-text"></textarea>
     <div>
       <button type="submit">Tweet</button>
       <output name="counter" class="counter" for="tweet-text">140</output>
     </div>
   </form>
 </section>
</main> */


 label {
   display: flex;
   font-weight: 700;
   flex-direction: column;
 }

 textarea {
   height: 65px;
   width: 400px;
   border: 0ch;
   background-color: #f4f1ec;
   border-bottom: .2rem solid;
 }


 div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 button {
   display: flex;
   align-items: baseline;
   color: #FFFFFF;
   background-color: #4056A1;
   font-family: Bungee, sans-serif;
 }

 output {
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
   color: black;
   background-color: #f4f1ec;
   font-family: Bungee, sans-serif;
 }