section {
  width: 100%
}

label {
  display: flex;
  font-weight: 700;
  flex-direction: column;
}

textarea {
  height: 50px;
  width: 100%;
  border: 0ch;
  resize: none;
  background-color: #f4f1ec;
  border-bottom: .2rem solid;
}


div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

button {
  display: flex;
  align-items: baseline;
  color: #FFFFFF;
  background-color: #006666;
  font-family: Bungee, sans-serif;
}

button:hover {
  background-color: cadetblue;
}

output {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: black;
  background-color: #f4f1ec;
  font-family: Bungee, sans-serif;
}

.red-font {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: red;
  background-color: #f4f1ec;
  font-family: Bungee, sans-serif;
}