section {
  width: 100%
}

label {
  display: flex;
  font-weight: 700;
  flex-direction: column;
}

textarea {
  height: 50px;
  width: 100%;
  border: 0ch;
  margin-top: 10px;
  resize: none;
  background-color: #f4f1ec;
  border-bottom: .2rem solid;
}

textarea:focus{
  outline: none;
  box-shadow: 0 0 10px #006666;
}


div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

button {
  display: flex;
  align-items: baseline;
  color: #FFFFFF;
  background-color: #006666;
  font-family: Bungee, sans-serif;
}

button:hover {
  background-color: cadetblue;
}

output {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: black;
  background-color: #f4f1ec;
  font-family: Bungee, sans-serif;
}

.red-font {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: red;
  background-color: #f4f1ec;
  font-family: Bungee, sans-serif;
}

div.error {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: rgb(157, 5, 5);
  font-size: xx-large;
  align-items: center;
  height: fit-content;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 30px;
  border: .15em solid rgb(157, 5, 5)
}

.error-msg {
  overflow-wrap: anywhere;
  height: fit-content;
  font-size: x-large;
  margin: 0 1em;
  justify-content: space-around;
  align-items: center;

}
