/*Main CSS for Tweet Section*/

section.tweets-container {
  background-color: #f4f1ec;
  height: fit-content;
}


article.tweets {
  background-color: #f4f1ec;
  height: fit-content;
  margin-top: 60px;
  margin-bottom: 30px;
  border: .15em solid black;
}

/*Hover CSS for Tweet Section*/

article.tweets:hover {
  box-shadow: 5px 5px #66CDAA;
}

/*Main CSS for Header*/
article.tweets header {
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 20px;
}

/*CSS for the name on left*/
header div.name {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  width: 100%;
}

/*CSS for Names in header*/
header h3 {
  padding-right: 5px;
}

/*CSS for Tagname on righthand side*/
header h3.color {
  color: cadetblue;
}

/*CSS for Tweet body*/
article.tweets div.tweet-text {
  overflow-wrap: anywhere;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: x-large;
  margin: 0 1em;
  ;
}


/*Main CSS for footer*/
article.tweets footer {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: fit-content;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: .40em;
  padding-bottom: .40em;
  border-top: .15em solid black;
  font-size: large;
}

/* Icons in Footer: */

p.images {
  color: cadetblue;
  padding: .15em;
  font-family: monospace;
}

p.images i:hover {
  color: #66CDAA
}